:root {
  --brand-color: #2e2f42;
}
.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffffff;
}
.nav {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.link {
  text-transform: uppercase;
  color: var(--brand-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  font-family: "Raleway", sans-serif;
}
.list {
  list-style: none;
}
.span {
  color: #f4f4f4fd;
}
.link2 {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.address-list {
  font-style: normal;
}
.section {
  background-color: var(--brand-color);
}
.title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button {
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
  color: #ffffffff;
}
.title2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.ptitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}
.footer-p {
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.title3 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color);
}
.section4 {
  background-color: #f4f4fd;
}
.button-index {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button-index:hover,
.button-index:focus {
  background-color: #404bbf;
}
