:root {
  --brand-color: #2e2f42;
}
.body-index {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffffff;
}
.navigation-index {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.list {
  list-style: none;
  font-style: normal;
}
.link {
  text-decoration: none;
  font-weight: 500;
}
.navigation-index-span {
  color: #2e2f42;
}
.first-section {
  background-color: #2e2f42;
}
.title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button-index {
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.button-index:hover:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.title-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.p-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
